{% extends "layout.html" %}

{% block title %}
    Gym
{% endblock %}

{% block main %}
    <form action="/gym" method="POST">
            <div class="form-group">
                <!-- User selects a start time from the drop down -->
                <select id="start_times" class="form-control" name="start_times" required onchange="enableButton()">
                    <option selected value="">Start Time</option>
                    {% for time in times %}
                        <option value="{{ time }}">{{ time }}</option>
                    {% endfor %}
                </select>

                <br>

                <!-- User selects a end time from the drop down -->
                <select id="end_times" class="form-control" name="end_times" required onchange="enableButton()">
                    <option selected value="">End Time</option>
                    {% for time in times %}
                        <option value="{{ time }}">{{ time }}</option>
                    {% endfor %}
                </select>

            </div>

            <!-- User selects the date that they reserved it -->

        <!-- button to reserve the time slot -->
        <button class="btn btn-primary" type="submit" id="submit" disabled>Reserve</button>

    </form>

    <!-- Javascript used to disable the button if the values above are empty -->
    <script>
        function enableButton() {
            var start = document.getElementById('start_times');
            var end = document.getElementById('end_times')
            var buttonElem = document.getElementById('submit');
            buttonElem.disabled = !start.value && !end.value;
        }
    </script>
{% endblock %}