{% extends "layout.html" %}

{% block title %}
    Gym
{% endblock %}

{% block main %}
    <form action="/gym" method="POST">

        <!-- User selects a start time from the drop down -->

        <!-- User selects whether start time is AM or PM -->

        <!-- User selects a end time from the drop down -->

        <!-- User selects whether end time is AM or PM -->

        <!-- User selects the date that they reserved it -->

        <!-- button to reserve the time slot -->

    </form>

    <!-- Javascript used to disable the button if the values above are empty -->

{% endblock %}