{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <h1>Tasks assigned to you:</h1>
    <br>
    <div class="col-12">
        <table class="table table-striped">

            <!-- Header -->
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Score</th>
                </tr>
            </thead>

            <tbody>
                <!-- Tasks -->
                {% for i in user_reserved_tasks %}
                <tr>
                    <td>{{ i["title"] }}</td>
                    <td>{{ i["description"] }}</td>
                    <td>{{ i["score"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}