{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <h1>Welcome to Giacomo!</h1>

    <div class="row">

        <!-- List of Announcements -->
        <div class="col-6">

            <table class="table table-bordered caption-top">
                <caption>Announcements & Reminders</caption>
                <thead class="table-danger">
                    <tr>
                        <th scope="col" style="font-size: large; text-align: center;">Announcements</th>
                    </tr>
                </thead>
        
                <tbody>
                    
                    <tr>
                        <td scope="row">Anjanette's Birthday is on February 26th!</td>
                    </tr>
    
                    <tr>
                        <td scope="row">Kevin's Birthday is on February 28th!</td>
                    </tr>
    
                    <tr>
                        <td scope="row">Gian was officially promoted to a Data Scientist / Analyst. Congrats!</td>
                    </tr>
    
                </tbody>
            </table>
    
        </div>
    
        <!-- List of Reserved Gym Times -->
        <div class="col-6">

            <table class="table table-bordered caption-top">
                <caption>Reserved Gym Times</caption>
                <thead class="table-primary">
                    <tr>
                        <th scope="col" style="font-size: large; text-align: center;">Name</th>
                        <th scope="col" style="font-size: large; text-align: center;">Start</th>
                        <th scope="col" style="font-size: large; text-align: center;">End</th>
                    </tr>
                </thead>
        
                <tbody>
                    
                    <tr>
                        <td scope="row">User's name.</td>
                        <td scope="row">User's start time.</td>
                        <td scope="row">User's end time.</td>
                    </tr>
    
                </tbody>
            </table>
    
        </div>

    </div>

    <div class="row">
        <!-- List out the Reserved Tasks -->
        <div class="col-12">
    
            <table class="table table-bordered caption-top">
                <caption>Reserved Tasks</caption>
                <thead class="table-warning">
                    <tr>
                        <th scope="col" style="font-size: large; text-align: center;">Title</th>
                        <th scope="col" style="font-size: large; text-align: center;">Description</th>
                        <th scope="col" style="font-size: large; text-align: center;">Difficulty & Score</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for i in user_reserved_tasks %}
                    <tr>
                        <td>{{ i["title"] }}</td>
                        <td>{{ i["description"] }}</td>
                        <td>{{ i["score"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
        </div>
    </div>

    <div class="row">
    
        <!-- List out the Grocery List -->
        <div class="col-6">
    
            <table class="table table-bordered caption-top">
                <caption>House Groceries</caption>
                <thead class="table-success">
                    <tr>
                        <th scope="col" style="font-size: large; text-align: center;">Grocery List</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td scope="row">User's will list out items needed to purchase for the house.</td>
                    </tr>
                </tbody>
            </table>
    
        </div>

        <!-- List of important contacts for the house -->
        <div class="col-6">
    
            <table class="table table-bordered caption-top">
                <caption>Contact List</caption>
                <thead class="table-info">
                    <tr>
                        <th scope="col" style="font-size: large; text-align: center;">Name</th>
                        <th scope="col" style="font-size: large; text-align: center;">Phone Number</th>
                        <th scope="col" style="font-size: large; text-align: center;">Email Address</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td scope="row">Contact full name.</td>
                        <td scope="row">Contact phone number.</td>
                        <td scope="row">Contact email address.</td>
                    </tr>
                </tbody>
            </table>
    
        </div>

    </div>



{% endblock %}