{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <h1>Welcome to Giacomo!</h1>

    <div class="row">

        <!-- List of Announcements -->
        <div class="col-6">

            <table class="table table-bordered caption-top">
                <caption>Announcements & Reminders</caption>
                <thead class="table-primary">
                    <tr>
                        <th scope="col" style="font-size: large; text-align: center;">Announcement</th>
                    </tr>
                </thead>
        
                <tbody>
                    
                    <tr>
                        <td scope="row">Anjanette's Birthday is on February 26th!</th>
                    </tr>
    
                    <tr>
                        <td scope="row">Kevin's Birthday is on February 28th!</th>
                    </tr>
    
                    <tr>
                        <td scope="row">Gian was officially promoted to a Data Scientist / Analyst. Congrats!</th>
                    </tr>
    
                </tbody>
            </table>
    
        </div>
    
        <!-- List out the Reserved Tasks -->
        <div class="col-6">
    
            <table class="table table-bordered caption-top">
                <caption>Reserved Tasks</caption>
                <thead class="table-warning">
                    <tr>
                        <th scope="col" style="font-size: large; text-align: center;">Title</th>
                        <th scope="col" style="font-size: large; text-align: center;">Description</th>
                        <th scope="col" style="font-size: large; text-align: center;">Difficulty & Score</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td scope="row">Testing Title</th>
                        <td scope="row">Testing Description</th>
                        <td scope="row">Testing Difficulty & Score</th>
                    </tr>
                </tbody>
            </table>
    
        </div>

    </div>
    
    <!-- <h1>Tasks assigned to you:</h1>
    <br>
    <div class="col-12">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Score</th>
                </tr>
            </thead>

            <tbody>
                {% for i in user_reserved_tasks %}
                <tr>
                    <td>{{ i["title"] }}</td>
                    <td>{{ i["description"] }}</td>
                    <td>{{ i["score"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->
{% endblock %}