<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!-- link to stylesheet -->
        <link href="/static/styles.css" rel="stylesheet">

        <!-- Title of the page -->
        <title>Giacomo: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="giacomo_brand">Giacomo</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/reserve">Reserve</a></li>
                        <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
                        <li class="nav-item"><a class="nav-link" href="/edit">Edit</a></li>
                        <li class="nav-item"><a class="nav-link" href="/delete">Delete</a></li>
                        <li class="nav-item"><a class="nav-link" href="/gym">Gym</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history">History</a></li>                                           
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <!-- Main body -->
        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <!-- Bootstrap bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </body>
</html>