{% extends "layout.html" %}

{% block title %}
    Reset
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger" role="alert" style="text-align: center;">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/reset" method="POST">

    <!-- User decides between resetting tasks or resetting gym reservations -->
    <div class="mb-3">
        <select id="choose_reset" class="form-select form-select-lg mb-3" name="choose_reset" required onchange="enableButton()">
            <option selected value="">What do you want to reset?</option>
            <option value="Tasks">Tasks</option>
            <option value="Gym Times">Gym Times</option>
        </select>
    </div>

    <!-- Button to confirm reset -->
    <button class="btn btn-danger btn-lg" type="submit" id="submit" disabled>Confirm</button>

</form>

<script>
    function enableButton() {

        var choose = document.getElementById('choose_reset');

        if (document.getElementById('choose_reset').value === "") {
            document.getElementById('submit').disabled = true;
        } else {
            document.getElementById('submit').disabled = false;
        }
    }
</script>
{% endblock %}