{% extends "layout.html" %}

{% block title %}
    Reset
{% endblock %}

{% block main %}

<form action="/reset_tasks" method="POST">

    <!-- User must answer if it is Sunday Evening -->
    <div class="mb-3">
        <select id="confirm_sunday" class="form-select form-select-lg mb-3" name="confirm_sunday" required onchange="enableButton()">
            <option selected value="">Is it Sunday?</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <!-- User must confirm that everyone has completed their tasks -->
    <div class="mb-3">
        <select id="all_complete" class="form-select form-select-lg mb-3" name="all_complete" required onchange="enableButton()">
            <option selected value="">Is everyone done?</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <!-- Button to confirm reset -->
    <button class="btn btn-danger btn-lg" type="submit" id="submit" disabled>Reset</button>

</form>

<script>
    function enableButton() {

        var sunday = document.getElementById('confirm_sunday');
        var all_complete = document.getElementById('all_complete');

        if (document.getElementById('confirm_sunday').value === "" || document.getElementById('all_complete').value === "") {
            document.getElementById('submit').disabled = true;
        } else {
            document.getElementById('submit').disabled = false;
        }
    }
</script>
{% endblock %}